html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #005f93;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#logop {
	padding: 0% 30%;
}
#logopri {
 	padding-right: 20%;
	
}

#logo {
	height: 80%;
	margin-bottom: 2%;
	margin-right: 45%;
	
}

#der{

	height: 5%;
	color: white;
}

#textder{

	margin-left: 35%;
	margin-top: 1%;
	font-family:'Roboto';

}


#img2 {

	height: 85%;
	width: 120%;
	margin-top: 30%;
	margin-left: -10%;
	padding: 2% 2%;
    border-radius: 40px;
}

#img3 {

	height: 85%;
	width: 120%;
	margin-top: 30%;
	margin-left: 10%;
	padding: 2% 2%;
	border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; 
}


#anuncio{
	font-size: 100%;
	margin-bottom: -1%;
	color: white;
	font-family:'Roboto';
}

#title{
	color: white;
	margin-left: 1%;
	margin-top: 2%;
	font-family:'Roboto';
	font-size: 150%;
}

#cont{
	margin-top: 2%;
}