{% extends "base/base.html" %}
	{% block name_mod %}
		<div class="card-header border-dark">
	    	Resumen de tu compra
	  	</div>	
	{% endblock name_mod %}

	{% block content %}

	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Leche</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapseFiesta" aria-expanded="false" aria-controls="collapseFiesta">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse" id="collapseFiesta">
	 		<div class="card-body">
	 			<div class="container">
	 			  <div class="row">
	 			  	<div class="col text-left">
			    	{% if not precio_alim.0 %}
			    		<h5 class="text-danger">Leche no adquirida</h5>	
			    	{% endif %}
			      </div>
	 			</div>
				  <div class="row mt-4">
				    <div class="col text-left">
				      <h1>Costo Total:</h1>
				    </div>
				    <div class="col text-right">
				      <h1 class="display-4 text-info precioResumen"><strong>${{precio_fiesta}}</strong></h1>
				    </div>
				  </div>
				</div>
	  		</div>
		</div>
	</div>



	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Cebolla</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapseLuna" aria-expanded="false" aria-controls="collapseLuna">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse" id="collapseLuna">
	 		<div class="card-body">
	 			<div class="container">
	 			  <div class="row">
	 			  	<div class="col text-left">
	 			  	{% if not flag_activi %}
		 			  	<h5 class="text-danger">Cebolla por kilo no adquirida</h5>
	 			  	{% endif %}
	 			  	{% if not flag_hotel %}
		 			  	<h5 class="text-danger">Cebolla por tonelada no adquirida</h5>
			    	{% endif %}
			      </div>
	 			</div>
				  <div class="row mt-4">
				    <div class="col text-left">
				      <h1>Costo Cebolla:</h1>
				    </div>
				    <div class="col text-right">
				      <h1 class="display-4 text-info precioResumen"><strong>${{precio_luna}}</strong></h1>
				    </div>
				  </div>
				</div>
	  		</div>
		</div>
	</div>

	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Pareja</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapsePareja" aria-expanded="false" aria-controls="collapsePareja">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse" id="collapsePareja">
	 		<div class="card-body">
	 			<div class="container">
	 			  <div class="row">
	 			  	<div class="col text-left">
	 			  		<small class="lead">enamorado {{enamoradoNombre.User.first_name}} {{enamoradoNombre.User.last_name}}</small><br>
	 			  		{% if not flag_belleza1 %}
	 			  			<h5 class="text-danger">No se han asignado bellezas para este enamorado</h5>
	 			  		{% endif %}
	 			  		{% if not flag_prenda1 %}
	 			  			<h5 class="text-danger">No se han asignado prendas para este enamorado</h5>
	 			  		{% endif %}
	 			  		{% if not flag_accesorio1 %}
	 			  			<h5 class="text-danger">No se han asignado accesorios</h5>
	 			  		{% endif %}
	 			  	</div>
	 			  </div><br><br>
				  <div class="row mt-6">
				    <div class="col-md-9 text-left">
				      <h4 >Costo enamorado {{enamoradoNombre.User.first_name}} {{enamoradoNombre.User.last_name}}:</h4>
				      <h3>Costo total pareja:</h3>
				    </div>
				    <div class="col text-right">
				      <h3 class="text-info precioResumen"><strong>${{precio_enamorado}}</strong></h3>
				      <h3 class="text-info precioResumen"><strong>${{precio_pareja}}</strong></h3>
				    </div>
				  </div>
				</div>
	  		</div>
		</div>
	</div>

	<div class="container">
	  <div class="row mt-4">
	    <div class="col text-left">
	      <h1>Costo Compra:</h1>
	    </div>
	    <div class="col text-right">
	      <h1 class="display-4 text-info precioResumen"><strong>${{precio_boda}}</strong></h1>
	    </div>
	  </div>
	</div>


	{% endblock content %}
