<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
</head>
<body>
	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Decoraciones</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapseDeco" aria-expanded="false" aria-controls="collapseDeco">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse show" id="collapseDeco">
	  		{% for decoracion_c in decoraciones_car %}
	 		<div class="card-body">
	 			<form method="POST">{% csrf_token %}
					<div class="card">
						<div class="card-body">
	        				<div class="media">
							  	<img class="align-self-center mr-3" src="{{decoracion_c.Decoracion.imagen.url}}" height="150">
							  	<div class="media-body">
							    	<h5 class="mt-0">{{decoracion_c.Decoracion.nombre}}</h5>
							    	<p>{{decoracion_c.Decoracion.descripcion}}</p>
							    	<div class="media">
							  			<i class="material-icons">attach_money</i>
									  	<div class="media-body">
									    	<p>{{decoracion_c.Decoracion.precio}} c/u</p>
									    	<p>cantidad: {{decoracion_c.cantidad}}</p>
									    	<p>precio total decoración: {{decoracion_c.subtotal}}</p>
										</div>
									</div>
									<div class="row">
										<div class="col text-right">
											<input name="id_decoracion_carrito" value="{{decoracion_c.id}}" hidden>
											<input name="id_decoracion" value="{{decoracion_c.Decoracion.id}}" hidden>
											<input name="price" value="{{decoracion_c.Decoracion.precio}}" hidden>
											<button type="submit" class="btn btn-danger" value="delete_decoracion" name="btn_value">Eliminar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			{% endfor %}
			<div class="card-body text-center">
	    		<p>¿Crees que aún hay espacio para algo más?</p>
	    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modaldeco">¡Agregar decoraciones!</button>
	  		</div>
		</div>
	</div>

	<div class="modal fade" id="modaldeco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title">Decoraciones</h5>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
	      			{% for decoracion in decoraciones %}
	      				{% if decoracion.id not in indices_decoraciones %}
		      			<form method="POST">{% csrf_token %}
			      			<div class="card mb-2">
		  						<div class="card-body">
			        				<div class="media">
							  			<img class="align-self-center mr-3" src="{{decoracion.imagen.url}}" height="150">
							  			<div class="media-body">
							    			<h5 class="mt-0">{{decoracion.nombre}}</h5>
							    			<p>{{decoracion.descripcion}}</p>
							    			<div class="media">
							  					<i class="material-icons">attach_money</i>
									  			<div class="media-body">
									    			<p>{{decoracion.precio}} c/u</p>
												</div>
											</div>
											<div class="row">
												<div class="col text-right">
													<input name="id_decoracion" value="{{decoracion.id}}" hidden>
													<input name="price" value="{{decoracion.precio}}" hidden>
													<div class="row">
	    												<div class="col-8">
	    													<input class="form-control" placeholder="Cantidad" type="number" name="cantidad" min="1">
	    												</div>
	    												<div class="col-4">
	    													<button type="submit" class="btn btn-primary" value="add_decoracion" name="btn_value">Agregar</button>
	    												</div>
	    											</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						{% endif %}
					{% endfor %}
				</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	      		</div>
	    	</div>
	  	</div>
	</div>
</body>
</html>