<!DOCTYPE html>
<html>
<head>
   {% load staticfiles %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Estilo.css">
    <title>KB Principal</title>
  
</head>
<body> 
  <header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md" style="background-color: #005f93;">
      <div class="row">
        <div class="col-2">
          <a class="navbar-brand">
            <img id="" src="../static/img/KBLogo_header.svg" alt="" height="45">
          </a>
        </div>
        <div class="col-10 align-self-end d-none d-xl-block">
          <p class="text-light">Organizar tu matrimonio será más fácil y divertido</p>
        </div>
      </div>
      {% if error.0 %}
        <div class="alert alert-warning">{{error.1}}</div>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mr-auto">
        </div>
        <form class="form-inline" method = 'POST'>{% csrf_token %}
        {% if user.is_authenticated %}
          <meta http-equiv="refresh" content="0; url={% url 'tableroResumen' %}">
        {% else %}
          <input class="form-control mr-sm-2 mb-2 mb-sm-0" name="username" type="text" placeholder="Doc. de Identidad" required>
          <input class="form-control mr-sm-2 mb-2 mb-sm-0" name="password" type="password" placeholder="Contraseña" required>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-warning" type="submit">Ingresar</button>
          </div> 
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a class="btn btn-outline-warning " href="{% url 'Pareja:registro' %}">Registrar</a>
          </div>                
        {% endif %}
        </form>
      </div>
    </nav>
  </header>
    
  <main class="container pt-5 mt-5">
    <div class="row pt-5 justify-content-center align-items-center">
      <div class="pb-5 col-9 col-sm-8 col-md-4 col-lg-3">
        <img class="img-fluid rounded-circle" src="{% static "img/torta.jpg" %}">
      </div>
      <div class="pb-5 col-9 col-sm-8 col-md-4 col-lg-4">
        <img  class="img-fluid rounded-circle" src="{% static "img/pareja.jpg" %}">
      </div>
      <div class="pb-5 col-9 col-sm-8 col-md-4 col-lg-3">
        <img class="img-fluid rounded-circle" src="{% static "img/ceremonia.jpg" %}">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="font-weight-light">Encuentra todo lo que necesitas para tu matrimonio</h1>   
      </div>         
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
            <div class="text-light"><img id="" src="../static/img/KBLogo.svg" alt="" height="30">KB 2018. Todos los derechos reservados.</div> 
        </div>
      </div>
    </div>
  </footer>  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>